* {
  font-size: 15px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 2rem;
  font-family: 'Lexend Deca', sans-serif;
  background-color: #f2f2f2;
}

@media (min-width: 1440px) {
  body {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 24rem;
  margin: 0 auto;
  line-height: 1.8;
  border-radius: 1rem;
  overflow: hidden;
}

@media (min-width: 1440px) {
  main {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    max-width: 66rem;
    border-radius: 1rem;
    min-height: 60vh;
  }
}

h1 {
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #f2f2f2;
}

.btn {
  display: block;
  background-color: #f2f2f2;
  padding: 1rem 2.25rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 15%;
  border-radius: 3.4rem;
  font-size: .9rem;
  text-decoration: none;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

@media (min-width: 1440px) {
  .btn {
    margin-top: 35%;
  }
}

.car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3.5rem;
  color: rgba(255, 255, 255, 0.75);
  min-height: 50vh;
  width: 100%;
}

@media (min-width: 1440px) {
  .car {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 3.5rem;
  }
}

.car .icon {
  display: block;
  width: 100%;
  height: 2.7rem;
}

.car.sedans {
  background-color: #e38826;
}

.car.sedans .icon__sedan {
  background: url(../images/icon-sedans.svg) no-repeat;
}

.car.sedans .learn-more {
  color: #e38826;
}

.car.suvs {
  background-color: #006970;
}

.car.suvs .icon__suv {
  background: url(../images/icon-suvs.svg) no-repeat;
}

.car.suvs .learn-more {
  color: #006970;
}

.car.luxury {
  background-color: #004241;
}

.car.luxury .icon__luxury {
  background: url(../images/icon-luxury.svg) no-repeat;
}

.car.luxury .learn-more {
  color: #004241;
}

.attribution, .attribution a {
  font-size: .7rem;
  color: #006970;
  text-align: center;
  margin-top: 1rem;
}
/*# sourceMappingURL=styles.css.map */