@import './mixins';

* {
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    font-family: 'Lexend Deca', sans-serif;
    background-color: $very-light-gray;
    
    @media (min-width: $desktop) {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

main {
    display: flex;
    flex-direction: column;
    max-width: 24rem;
    margin: 0 auto;
    line-height: 1.8;
    border-radius: 1rem;
    overflow: hidden;

    @media (min-width: $desktop) {
        flex-direction: initial;
        max-width: 66rem;
        border-radius: 1rem;
        min-height: 60vh;
    }
}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: $very-light-gray;
}

.btn {
    display: block;
    background-color: $very-light-gray;
    padding: 1rem 2.25rem;
    width: max-content;
    margin-top: 15%;
    border-radius: 3.4rem;
    font-size: .9rem;
    text-decoration: none;
    transition: .2s all ease-in-out;

    &:hover {
        background-color: $transparent-white;
    }

    @media (min-width: $desktop) {
        margin-top: 35%;
    }
}

.car {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.5rem;
    color: $transparent-white;
    min-height: 50vh;
    width: 100%;

    @media (min-width: $desktop) {
        width: max-content;
        padding: 3.5rem;
        // min-height: 60vh;
    }


    .icon {
        display: block;
        width: 100%;
        height: 2.7rem;
    }

    &.sedans {
        background-color: $bright-orange;
        .icon__sedan {
            background: url(../images/icon-sedans.svg) no-repeat;
        }
        .learn-more { color: $bright-orange; }
    }

    &.suvs {
        background-color: $dark-cyan;
        .icon__suv {
            background: url(../images/icon-suvs.svg) no-repeat;
        }
        .learn-more { color: $dark-cyan; }
        
    }

    &.luxury {
        background-color: $very-dark-cyan;
        .icon__luxury {
            background: url(../images/icon-luxury.svg) no-repeat;
        }
        .learn-more { color: $very-dark-cyan; }
        
    }

}
.attribution, .attribution a {
    font-size: .7rem;
    color: $dark-cyan;
    text-align: center;
    margin-top: 1rem;
}